<!-- <h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p> -->

<h2>{{'Index.title' | translate}}</h2>

<p>
  {{'Index.MainBody' | translate}}
</p>

<div class="temp">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)">
    <agm-marker 
      *ngFor="let p of projects; let i = index"
      (markerClick)="clickedMarker(p.title, i)"
      [latitude]="p.locationY"
      [longitude]="p.locationX"
      [label]="'ivan'">
      
    <agm-info-window>
      <!-- <a [routerLink]="['/admin/project', project.id]">{{p.id}}</a> -->
      <strong>{{p.title}}</strong>
    </agm-info-window>
    
  </agm-marker>
    <!-- <agm-marker *ngIf="!project" [latitude]="project.locationY" [longitude]="project.locationX" [markerDraggable]="true"></agm-marker> -->
  </agm-map>
</div>
<ul>