<h1>{{'projects.title' | translate}}</h1>

<p *ngIf="!projects"><em>{{'projects.title' | translate}}</em></p>

<div class="commands text-right" *ngIf="projects">
  <button type="button"
          [routerLink]="['/admin/project']"
          class="btn btn-success">
          {{'projects.AddANewProjects' | translate}}
  </button>
</div>

<mat-form-field [hidden]="!projects">
    <input matInput (keyup)="loadData($event.target.value)"
        placeholder="Filter by name (or part of it)...">
</mat-form-field>

<table mat-table [dataSource]="projects" class="mat-elevation-z8" [hidden]="!projects"
    matSort (matSortChange)="loadData()"
    matSortActive="{{defaultSortColumn}}" matSortDirection="{{defaultSortOrder}}">

  <!-- Id Column -->
  <ng-container matColumnDef="projectId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>projectId</th>
    <td mat-cell *matCellDef="let project">
      <a [routerLink]="['/admin/project', project.projectId]">{{project.projectId}}</a>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>projectName</th>
    <td mat-cell *matCellDef="let project">
      {{project.projectName}}
    </td>
  </ng-container>

  <!-- Lon Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>userId</th>
    <td mat-cell *matCellDef="let project"> {{project.userId}} </td>
  </ng-container>

  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>message</th>
    <td mat-cell *matCellDef="let project"> {{project.message}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>value</th>
    <td mat-cell *matCellDef="let project"> {{project.value}} </td>
  </ng-container>


  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>creationDate</th>
    <td mat-cell *matCellDef="let project"> {{project.creationDate}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
    <td mat-cell *matCellDef="let project"> {{project.email}} </td>
  </ng-container>

  <!-- CountryName Column -->
  <!--<ng-container matColumnDef="countryName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
    <td mat-cell *matCellDef="let project">
      <a [routerLink]="['/country', project.countryId]">{{project.countryName}}</a>
    </td>
  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator [hidden]="!projects"
    (page)="getData($event)"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons></mat-paginator>

    <br/>
    <br/>
    <br/>


    <div class="commands text-info">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)">
        <agm-marker 
          *ngFor="let p of mapProject; let i = index"
          (markerClick)="clickedMarker(p.title, i)"
          [latitude]="p.locationY"
          [longitude]="p.locationX"
          [label]="{ color: 'maroon',
          fontFamily: '',
          fontSize: '14px',
          fontWeight: 'bold',
           text: p.title}">
          
        <agm-info-window>
          <!-- <a >{{p.id}}</a> -->
          <div style='float:left'>
            <a [routerLink]="['/admin/project', p.id]"><img [src]="p.mainImagePath" height="40" width="40"></a>
          </div>
          <div style='float:right; padding: 10px;'>
            <strong><a [routerLink]="['/admin/project', p.id]">{{'Map.MapMarker.VisitPage' | translate}}</a></strong> <br/>
            <strong>{{'Map.MapMarker.Title' | translate}}: {{p.title}} </strong> <br/>
            <strong>{{'Map.MapMarker.Goal' | translate}}: {{p.goal}}</strong> <br/>
            <strong *ngIf="p.collected"> {{'Map.MapMarker.Collected' | translate}}: {{p.collected}}</strong> <br/>
            <strong *ngIf="p.collected"> {{'Map.MapMarker.Left' | translate}}: {{p.goal - p.collected}}</strong> <br/>
            <div *ngIf="p.avgRating">
            <label>{{'Map.MapMarker.Rating' | translate}}</label>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width.%]="p.avgRating">{{p.avgRating}}</div>
            </div>
          </div>
          </div>

          
          <!-- <img src="p.mainImagePath" alt="'https://localhost:5001/'+p.mainImagePath"><br/> -->

        </agm-info-window>
        
      </agm-marker>
      </agm-map>
    </div>
